<a href="/dashboard">&larr; back</a>
<div class="admin-title">
    <h2>Add New Post</h2>
</div>

<form action="/add-post" method="post" enctype="multipart/form-data">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" required>

    <label for="body"><b>Decription</b></label>
    <textarea name="body" cols="50" rows="10" required></textarea>

    <label for="author"><b>Author</b></label>
    <input type="text" placeholder="Post Author Name" name="author" required>

    <label for="image"><b>Image</b></label><br>
    <input type="file" placeholder="Post Book Image" name="image" accept="image/*" required>
    <br><br>
    <input type="submit" value="Add" class="btn">
</form>