<h1><%= data.title %></h1>
<aside>By: <%= data.author %></aside>
<article class="article">
    <div class="row">
        <div class="col left"><img src="/img/<%= data.image %>"></div>
        <div class="col right"><%= data.body %></div> 
    </div>
</article>